VITE_CLERK_PUBLISHABLE_KEY=<YOUR KEY>
VITE_CONVEX_URL=<YOUR KEY>
CLERK_SECRET_KEY=<YOUR KEY>
R2_ACCESS_KEY_ID=<YOUR KEY>
R2_SECRET_ACCESS_KEY=<YOUR KEY>
R2_URL=<YOUR KEY>
VITE_POSTHOG_KEY=<YOUR KEY>
VITE_POSTHOG_HOST=<YOUR KEY>
VITE_HOSTING_DOMAIN=<YOUR KEY>
